__pycache__
*.DS_Store
*.iml
.idea
.pytest_cache
.ipynb_checkpoints
*.ipynb
*.pyc
*.so
fftbg/web/static.1/sprites
data/tournaments
data/*.feather
data/*.h5
data/*.pickle
data/*.db
data/*.tar.gz
data/sim.json
data/sim
data/MAP
data/ENTD
data/arena
data/arena_c
simulator/target
*.rdb
logs
venv
config/twitch.toml
watch-stream/
test-stream/
letters/
./*.png
./*.jpg
