__pycache__
*.DS_Store
*.iml
.idea
.pytest_cache
.ipynb_checkpoints
*.ipynb
data/tournaments
data/*.feather
data/*.h5
data/*.pickle
data/*.db
data/*.tar.gz
data/sim
*.rdb
logs
venv
config/twitch.toml
