[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-cpu = "*"
flask = "*"
scipy = "*"
scikit-learn = "*"
tqdm = "*"
twitchio = "*"
colored = "*"
marshmallow = "*"
numpy = "*"
pandas = "*"
pyarrow = "*"
pytest = "*"
pytz = "*"
requests = "*"
toml = "*"
"discord.py" = "*"
dataclasses-json = "*"
matplotlib = "*"
walrus = "*"

[dev-packages]

[requires]
python_version = "3.8"
