body {
    background-image: url('birb.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-blend-mode: lighten;
    background-size: 15%;
}

.jr {
    text-align: right;
}

.stat-summary {
    margin: 2%;
}

.portrait-left {
    transform: scale(-1, 1);
}

.portrait-right {

}

.unit-summary-plus {
    font-size: 12px;
    color: #8db7e4;
}

.unit-summary-minus {
    font-size: 12px;
    color: #f19086;
}

.color-red {
    color: var(--red);
}

.color-blue {
    color: var(--blue);
}

.color-green {
    color: var(--green);
}

.color-yellow {
    color: var(--yellow);
}

.color-white {
    color: #c5bfbf;
}

.color-black {
    color: #614675;
}

.color-purple {
    color: #8b60d0;
}

.color-brown {
    color: sandybrown;
}

.color-champion {
    color: var(--orange);
}